<div class="mail new-mail animated flipInY">
    <form id="new-mail">
        <div class="header">
            <h3>{{DisplayName}}</h3>
        </div>
        <div class="body">
            <div class="contact-form-row">
                <label for="prefix">Prefix</label>
                <input id="prefix" value="{{NamePrefix$}}">
            </div>
            <div class="contact-form-row">
                <label for="first-name">First Name</label>
                <input id="first-name" value="{{FirstName$}}">
            </div>
            <div class="contact-form-row">
                <label for="middle-name">Middle Name</label>
                <input id="middle-name" value="{{MiddleName$}}">
            </div>
            <div class="contact-form-row">
                <label for="last-name">Last Name</label>
                <input id="last-name" value="{{LastName$}}">
            </div>
            <div class="contact-form-row">
                <label for="suffix">Suffix</label>
                <input id="suffix" value="{{NameSuffix$}}">
            </div>
        </div>
        <div class="body">
            <datalist id="role-options">
               <template repeat="{{MailAddressRoleOptions}}">
                  <option value="{{Name}}">
               </template>
            </datalist>

            <template repeat="{{_Addresses}}">
            <div class="contact-form-row">
                <label>Email</label>

                <input class="narrow" value="{{SearchRole$}}" list="role-options" placeholder="Role">

                <input value="{{Address$}}">
                <button class="delete" value="{{Remove$}}" onclick="this.model.Remove$ = null">Remove</button>    
            </div>
            </template>
            <button value="{{AddAddress$}}" onclick="this.model.AddAddress$ = null">Add email</button>
        </div>  

        <div class="body">
            <datalist id="phone-number-role-options">
               <template repeat="{{PhoneNumberRoleOptions}}">
                  <option value="{{Name}}">
               </template>
            </datalist>

            <template repeat="{{_PhoneNumbers}}">
            <div class="contact-form-row">
                <label>Phone</label>

                <input class="narrow" value="{{SearchRole$}}" list="phone-number-role-options" placeholder="Role">

                <input value="{{Number$}}">
                <button class="delete" value="{{Remove$}}" onclick="this.model.Remove$ = null">Remove</button>    
            </div>
            </template>
            <button value="{{AddPhoneNumber$}}" onclick="this.model.AddPhoneNumber$ = null">Add phone</button>
        </div>  

        <div class="body">
            <div class="contact-form-row">
                <textarea placeholder="Note" value="{{Note$}}"></textarea>
                <!-- 
                Actually `value` is not a valid property for a TEXTAREA but this is an only way to get it to work with MDV
                MDV issue, see: https://github.com/Polymer/Template-instantiation/issues/80
                HTML5 spec, see: http://www.w3.org/TR/html5/forms.html#the-textarea-element
                -->
            </div>
        </div>  

        <div class="body">
            <div class="form-row">
                <button class="delete" value="{{Delete$}}" onclick="this.model.Delete$ = null">Delete contact</button>
            </div>
        </div>  
    </form>
</div>