<div class="mail new-mail animated flipInY">
    <form id="new-mail">
        <div class="header">
            <h3>{{DisplayName}}</h3>
        </div>
        <div class="body">
            <div class="contact-form-row">
                <label for="first-name">First Name</label>
                <input id="first-name" type="text" value="{{FirstName$}}">
            </div>
            <div class="contact-form-row">
                <label for="last-name">Last Name</label>
                <input id="last-name" type="text" value="{{LastName$}}">
            </div>
        </div>
        <div class="body">
            <template repeat="{{_Addresses}}">
            <div class="form-row">    
                <label>Email</label>
                <input type="text" value="{{Address$}}">
                <button class="delete" value="{{Remove$}}" onclick="this.model.Remove$ = null">Remove</button>    
            </div>
            </template>
            <button value="{{AddAddress$}}" onclick="this.model.AddAddress$ = null">Add email</button>
        </div>  
        <div class="body">
            <div class="form-row">
                <button class="delete" value="{{Delete$}}" onclick="this.model.Delete$ = null">Delete contact</button>
            </div>
        </div>  
    </form>
</div>