<div id="main">
    <nav class="animated flipInY">
        <a href="/mails/new-email">Compose</a>
        <ul>
            <template repeat="{{Mailboxes}}">
                <li><a href="/mailboxes/{{Name}}">{{Name}}</a></li>
            </template>
        </ul>
    </nav>

    <nav class="animated flipInY">
        <ul>
            <template repeat="{{Mails}}">
                <li><a href="{{Uri}}">{{Subject}}</a></li>
            </template>
        </ul>
    </nav>

    <article class="animated flipInY">
        <ul>
            <template bind="{{FocusedMail}}">
                <li><x-html content="{{Html}}"></x-html></li>
            </template>
        </ul>
    </article>

</div>
