html {
    height: 100%;
    position: relative;
}

body {
    font: 16px Helvetica, Arial, sans-serif;
    background: #FFFFFF;
    display: block;
    height: 100%;
    position: relative;
    margin: 0;
}

/* Flexbox layout */

polymer-ui-sidebar-menu {
    width: 300px;
}

header, 
footer {
    display: block;
    margin: 0;
    padding: 5px;
    background: #FFFFFF;
}

article polymer-ui-toolbar {
    background: #FFFFFF -webkit-linear-gradient(top, rgba(242,242,242,0.1), rgba(242,242,242,0.3));
    background: #FFFFFF -moz-linear-gradient(top, rgba(242,242,242,0.1), rgba(242,242,242,0.3));
    background: #FFFFFF linear-gradient(top, rgba(242,242,242,0.1), rgba(242,242,242,0.3));
    color: #333333;
}

polymer-ui-sidebar-menu {
    background: #F2F2F2;
}

.mail {
    background: #FFFFFF;
}

.mail .body {
    padding: 15px;
}

.mail h2 {
    font-size: 21px;
    font-weight: normal;
    margin: 0 0 0 15px;
}

article > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.action {
    background:red;
}

/* Forms */

form#new-mail .form-row,
form#new-mail .contact-form-row {
    display: flex;
}

form#new-mail label {
    display: block;
    line-height: 24px;
    flex: 0 1 50px;
    align-self: center;
    color: #A9A9A9;
}

form#new-mail input {
    display: block;
    line-height: 24px;
    flex: 2 2 100%;
    align-self: center;
    background: transparent;
    border-width: 0;
}

form#new-mail textarea,
form#new-mail input,
form#new-mail button {
    padding-left: 0;
    margin-left: 0;
}

form#new-mail textarea,
form#new-mail input[type=text],
form#new-mail input:not([type]) {
    font-family: Helvetica, Arial, sans-serif;
    font-size: inherit;
    background: transparent;
    border-width: 0;
}

.body + .body {
    border-top: 1px solid #DDD;
}

form#new-mail textarea {
    flex: 1 1 100%;
}

button.delete {
    color: #666;
}

form#new-mail .contact-form-row label,
form#new-mail .contact-form-row input.label {
    flex: 0 0 100px;
}

form#new-mail .contact-form-row .wide {
    flex: 0 0 150px;
}

form span.polymer-ui-light-bg {
  margin-top: 8px;
  margin-bottom: 8px;
  display: inline-block
}

/* Animations */

 .animated-flip-right {
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: visible !important;
    -webkit-animation-name: flipRight;
    -moz-backface-visibility: visible !important;
    -moz-animation-name: flipRight;
    backface-visibility: visible !important;
    animation-name: flipRight;
    -webkit-transform-origin-x: 0;
    -moz-transform-origin-x: 0;
    transform-origin-x: 0;
    -webkit-animation-duration: 0.25s;
    -moz-animation-duration: 0.25s;
    animation-duration: 0.25s;
}

@-webkit-keyframes flipRight {
    0% {
        -webkit-transform: perspective(400px) rotateY(90deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: perspective(400px) rotateY(0deg);
        opacity: 1;
    }
}
@-moz-keyframes flipRight {
    0% {
        -moz-transform: perspective(400px) rotateY(90deg);
        opacity: 0;
    }
    100% {
        -moz-transform: perspective(400px) rotateY(0deg);
        opacity: 1;
    }
}
@keyframes flipRight {
    0% {
        transform: perspective(400px) rotateY(90deg);
        opacity: 0;
    }
    100% {
        transform: perspective(400px) rotateY(0deg);
        opacity: 1;
    }
}
